@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

html, body {
  height: 100%;
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

a {
  color: blue;
}

.a {
  color: blue;
}
.flex-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-container.center{
  @extend .flex-container;
  align-items: center;
  justify-content: center;
}